In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os as os

In [2]:
os.getcwd()
os.chdir("H:\ML")

In [3]:
dataset= pd.read_csv("h1b_kaggle.csv")

In [4]:
dataset.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [5]:
dataset.shape

(1048575, 11)

In [6]:
dataset.columns

Index(['Unnamed: 0', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [7]:
dataset.isnull().sum()

Unnamed: 0                0
CASE_STATUS               0
EMPLOYER_NAME            19
SOC_NAME                 11
JOB_TITLE                 8
FULL_TIME_POSITION        1
PREVAILING_WAGE           4
YEAR                      0
WORKSITE                  0
lon                   29568
lat                   29568
dtype: int64

In [8]:
dataset.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [9]:
X= dataset.drop(['Unnamed: 0','CASE_STATUS','EMPLOYER_NAME','SOC_NAME', 'JOB_TITLE', 'WORKSITE'],1)
y=dataset['CASE_STATUS']

In [10]:
print(X.shape)
print(y.shape)

(1018976, 5)
(1018976,)

In [11]:
X.head()

  FULL_TIME_POSITION  PREVAILING_WAGE  YEAR         lon        lat
0                  N          36067.0  2016  -83.743038  42.280826
1                  Y         242674.0  2016  -96.698886  33.019843
2                  Y         193066.0  2016  -74.077642  40.728158
3                  Y         220314.0  2016 -104.990251  39.739236
4                  Y         157518.4  2016  -90.199404  38.627003

In [12]:
y.head()

0    CERTIFIED-WITHDRAWN
1    CERTIFIED-WITHDRAWN
2    CERTIFIED-WITHDRAWN
3    CERTIFIED-WITHDRAWN
4              WITHDRAWN
Name: CASE_STATUS, dtype: object

In [13]:
X.isnull().sum()

FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
lon                   0
lat                   0
dtype: int64

In [14]:
X= pd.get_dummies(X)

In [15]:
X.head()

,PREVAILING_WAGE,YEAR,lon,lat,FULL_TIME_POSITION_N,FULL_TIME_POSITION_Y
0,36067.0,2016,-83.743038,42.280826,1,0
1,242674.0,2016,-96.698886,33.019843,0,1
2,193066.0,2016,-74.077642,40.728158,0,1
3,220314.0,2016,-104.990251,39.739236,0,1
4,157518.4,2016,-90.199404,38.627003,0,1

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)

# DECISION TREE

In [17]:
#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy", random_state=42)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [18]:
y_pred= classifier.predict(X_test)

In [19]:
y_pred

array(['CERTIFIED', 'CERTIFIED', 'CERTIFIED', ..., 'CERTIFIED',
       'CERTIFIED', 'CERTIFIED'], dtype=object)

In [20]:
classifier.score(X_test,y_test)

0.8770093623034799

In [21]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=10)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.8743271374715793

# KNN

In [22]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [23]:
y_pred

array(['CERTIFIED', 'CERTIFIED', 'CERTIFIED', ..., 'CERTIFIED',
       'CERTIFIED', 'CERTIFIED'], dtype=object)

In [24]:
classifier.score(X_test,y_test)

0.8861852048126558

In [25]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=10)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.8843175715334544

# SVM

In [31]:
# Fitting SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
classifier.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=10)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

# LOGISTIC REG

In [26]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
y_pred = classifier.predict(X_test)

In [28]:
classifier.score(X_test,y_test)

0.8739818249622171

In [29]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=10)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.872572929170509