In [39]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os as os

In [40]:
os.getcwd()
os.chdir("H:\ML")

In [41]:
dataset= pd.read_csv("heart.csv")

In [42]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [43]:
dataset['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [44]:
X=dataset.drop(['target'],1)

In [45]:
y=dataset['target']

In [46]:
cols= X.columns

In [47]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X1=scaler.fit_transform(X)
X1=pd.DataFrame(X1)
X1.columns=cols

In [48]:
X1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.666667

In [49]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size = 0.25, random_state = 52)

In [50]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667
90,0.395833,1.0,0.666667,0.283019,0.294521,1.0,0.5,0.793893,0.0,0.000000,1.0,0.50,0.666667
220,0.708333,0.0,0.000000,0.528302,0.641553,0.0,0.0,0.633588,0.0,0.645161,0.5,0.75,1.000000
159,0.562500,1.0,0.333333,0.339623,0.216895,0.0,0.0,0.702290,0.0,0.000000,1.0,0.00,1.000000

In [51]:
y_train.head()

4      1
302    0
90     1
220    0
159    1
Name: target, dtype: int64

# LOGISTIC REGRESSION

In [52]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [55]:
y_pred= classifier.predict(X_test)

In [60]:
classifier.score(X_test,y_test)

0.8421052631578947

In [61]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=5)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.8017391304347825

# KNN

In [85]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [86]:
y_pred=classifier.predict(X_test)

In [87]:
classifier.score(X_test,y_test)

0.7631578947368421

In [88]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=5)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.7845410628019323


# SVM

In [89]:
# Fitting SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [90]:
y_pred=classifier.predict(X_test)

In [91]:
classifier.score(X_test,y_test)

0.8289473684210527

In [92]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(classifier,X_train,y_train,cv=5)
print('Average Cross Validation Score for Linear Regression : ',cross_val.mean())

Average Cross Validation Score for Linear Regression :  0.8018357487922705